*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    width: 100vw;
}
#canvas{
    display: block;
    background-color: rgb(255, 255, 255);
}
#container{
    height: 7rem;
    width: 35rem;
    background-color: rgb(146, 146, 146);
    border-radius: 1rem;
    z-index: 5;
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}